.app {
	width: 600px;
	margin: 4rem auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

/* header */
header {
	text-align: center;
}

header h1 {
	color: var(--gray1);
	position: relative;
	display: inline-block;
	margin: 0;
	font-size: calc(2rem + 1vw);
}

header h1::before {
	content: "";
	display: block;
	background: var(--gold);
	position: absolute;
	height: 70%;
	width: 0.4rem;
	top: 5px;
	left: -20%;
	transform: rotate(20deg);
}

/* section */
section {
	display: flex;
	justify-content: space-between;
	width: 500px;
	height: 380px;
	overflow: hidden;
}

button {
	cursor: pointer;
	border: none;
	display: grid;
	place-items: center;
	padding: 0.3rem 0.1rem;
	z-index: 34;
	position: absolute;
	top: 50%;
	background-color: var(--gray2);
	outline: none;
}

button svg {
	font-size: 2.2rem;
	color: #f3f3f3;
}

.left.none,
.right.none {
	display: none;
}

.right {
	right: 0;
	margin-right: 0.5rem;
}

.left {
	left: 0;
}

article {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	transition: all 0.4s ease-out;
}

/* slider container */
.slider__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: min(500px, 75vw);
	height: 100%;
	margin-inline: auto;
}

img {
	display: block;
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.name,
.title {
	margin: 0;
}

.name {
	text-transform: uppercase;
	color: var(--gold);
	font-weight: 700;
	margin: 1.8rem 0 0.3rem;
}

.title {
	text-transform: capitalize;
	font-weight: 500;
}

.quote {
	font-family: "Combo", cursive;
	text-align: center;
	width: 75%;
	font-weight: 600;
	color: #6e6e6e;
}

.slider__container span {
	display: inline-block;
	margin-top: 1rem;
	font-size: 3.5rem;
	color: var(--gold);
}

@media screen and (max-width: 670px) {
	.app,
	section,
	.slider__container {
		width: 400px;
	}
}

@media screen and (max-width: 475px) {
	.app,
	section,
	.slider__container {
		width: 300px;
	}
}
@media screen and (max-width: 380px) {
	.app,
	section,
	.slider__container {
		width: 250px;
	}

	.quote {
		width: 70%;
	}

	button svg {
		font-size: 2rem;
	}
} ;
